@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer components {
  body {
    @apply overflow-x-hidden;
  }
  .yellow-gradient {
    @apply bg-gradient-to-b from-[#FFCB3C] to-[#E3A804];
  }
  .input-field {
    @apply py-2 px-4 rounded-full placeholder:text-gray-500 placeholder:italic border border-gray-700;
  }
  ul.slick-dots li.slick-active span.yellow-dot {
    @apply bg-primary-yellow border-transparent;
  }
  ul.slick-dots li.slick-active span.white-dot {
    @apply bg-white border-transparent;
  }
  .hero-slider .slick-slider > img.slick-prev {
    @apply !absolute;
  }
}
